@font-face {
    font-family: OpenSansBold;
    src: url(resources/fonts/Open_Sans/static/OpenSans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSansRegular;
    src: url(resources/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}

* {
    box-sizing: border-box;
}


body{
    background-color: #317DC0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

.main{
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-height: 999999px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4em;
}

.question{
    color: white;
    font-size: 6em;
    text-align: center;
    font-family: OpenSansBold;
    text-shadow: 1px 1px 30px rgba(5, 5, 5, 0.521);
    margin-bottom: 1em;
    padding: 0 3em;
}

.question--intro {
    max-width: 600px;
}

.question--outro {
    max-width: 1500px;
}

.answers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 2em;
}

.answer{
    font-family: OpenSansRegular;
    font-size: 3em;
    text-transform: uppercase;
}

.answer--btn {
    background-color: navy;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    border-radius: 2em;
    padding: 1em 1.5em;
    width: 45%;
    margin: 1em 0.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.answer--btn:hover, .answer--btn:active {
    color: yellow;
}

.answer--shadow{
    -webkit-box-shadow: 2px 0px 81px 0px rgba(255,255,255,1);
    -moz-box-shadow: 2px 0px 81px 0px rgba(255,255,255,1);
    box-shadow: 2px 0px 81px 0px rgba(255,255,255,1);
}

#tooltip{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 10px;
}